a{
    text-decoration: none;
}

.titleBg{
    font-size: 1rem;
}

/* .box::before{
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 0, 17, 0.514);
} */